.order_table{
    width: 100%;
    text-align: center;
}
.table_thead{
    background-color: coral;
    color: whitesmoke;
}
.table_tbody{
    background-color: blanchedalmond;
}

.pending{
    color: #ff9900;
}
.confirm{
    color: green;
}